<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<section class="page">
<div class="content">
    <div class="text-container">
        <div class="guest_name">
            Thank you !
        </div>
        <div class="title-line">
            Your confirmation has been well received.
        </div>
    </div>
</div>
</section>

</body>
</html>
